<header class="masthead mb-auto">
  <div class="inner">

    <a (click)="toggleMenu()">
      <mat-icon #menuIcon aria-hidden="false" aria-label="menu icon">expand_more</mat-icon>
    </a>

    <h3 class="masthead-brand">Sala de Juegos</h3>

    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" [routerLink]="[{ outlets: { menuList:['lobby']} }]">Lobby</a>
      <a class="nav-link" [routerLink]="[{ outlets: { menuList:['about']} }]">¿Quién Soy?</a>
      <a class="nav-link" (click)="signOut()">
        <mat-icon data-toggle="tooltip" data-placement="left" title="Salir" aria-hidden="false"
          aria-label="logout icon">logout</mat-icon>
      </a>
      <a class="nav-link">
        <mat-icon aria-hidden="false" aria-label="account icon" data-toggle="tooltip" data-placement="left"
          title="{{user?.displayName??user?.email??'anónimo'}}">account_circle</mat-icon>
      </a>
    </nav>

  </div>
</header>
