.timer {
  text-align: center;
  max-width: 60px;
  padding: 0.45rem 0;
  border-radius: 2rem;
  font-size: large;
  border: white 1.5px solid;
  animation-name: popup;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  background: #607d8b85;
}

@keyframes popup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animation {
  position: relative;
  top: -1.8rem;
  left: -0.3rem;
  font-size: smaller;
  color: #00db09;
}
