
<span *ngIf="error">**{{error}}**</span>
<div class="card">

  <div class="messages" #scroll >

    <div *ngFor="let message of messages" [class.other]="user?.uid != message.uid" [class.me]="user?.uid === message.uid"
      class="d-flex p-3 chat">
      <span class="username">{{message.username}}</span>
      <div class="message ml-2 p-3">{{message.message}}</div>
      <span class="datetime">{{message.datetime}}</span>
    </div>


  </div>

  <div class="form-group px-3">
    <input type="text" class="form-control" placeholder="Mensaje..." #input (keyup.enter)="send(input.value)">
    <mat-icon (click)="send(input.value)" aria-hidden="false" aria-label="logout icon">send</mat-icon>
  </div>

</div>
