* {
  margin: 0;
  padding: 0;
}
fieldset {
  legend {
    float: none;
    width: auto;
    font-size: larger;
  }
  div {
    span {
      width: 100%;
      font-weight: 100;
      font-size: x-small;
    }
    number-tracker {
      padding: 0 0 0 0.8rem;
    }
    padding: 0 0.5rem;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: center;
  }
  justify-content: space-around;
  line-height: normal;
  min-width: 100px;
  min-height: 55px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border: 1px solid white;
  border-radius: 22px;
  border-top-width: medium;
  border-bottom-style: hidden;
  background: #607d8b85;
}

.success {
  color: #00db09;
}

.negative {
  color: #db0000;
}

.acumulado {
  width: 100%;
  flex-wrap: nowrap !important;
}

.animationInput {
  padding: 0 0.5rem;
}
