<fieldset>
  <legend>Score</legend>
  <div>
    <number-tracker [end]="currentUserScore?.scores?.total?.toString()??'0'"></number-tracker>
    <span>Total</span>
  </div>
  <div>
    <div class="acumulado">
      <span [class.success]="counterGameScore"><strong *ngIf="counterGameScore">+</strong></span>
      <number-tracker [color]="counterGameScore !== 0 && counterGameScore ? '#00db09':''"
        [end]="counterGameScore.toString()">
      </number-tracker>
      <span [ngClass]="{'success' : inputScore >0,'negative':inputScore <0}" class="animationInput"
        *ngIf="inputScore">{{inputScore}}</span>
    </div>

    <span>Acum.</span>
  </div>
</fieldset>
