<div ng-controller="myCtrl" class="game">

  <div *ngIf="win || lost" class="message">
    <h3 style="color:#40b91a80" *ngIf="win">¡Felicitaciones!</h3>
    <strong style="color:#40b91a80" *ngIf="win">*Rompecabezas completado, presione el botón para reiniciar*</strong>
    <h3 style="color:#e80909ad" *ngIf="lost">¡Juego terminado!</h3>
    <strong style="color:#e80909ad" *ngIf="lost">*Se acabó el tiempo, presione el botón para reiniciar*</strong>
    <mat-icon (click)="startGame()" aria-hidden="false" aria-label="restart_alt icon">restart_alt
    </mat-icon>
  </div>

  <div class="wordsGuessed">
    <ul *ngFor="let word of guessedWords">
      <li>
        {{word}}
      </li>
    </ul>
  </div>

  <div *ngIf="soup && ready" class="soup" #soupContainer>
    <div class="row" *ngFor="let row of soup;let i = index">
      <div #cell draggable="true" (dragover)="drag(i,j)" (dragend)="drop()" class="cell"
        *ngFor="let cell of row;let j = index">
        <span>{{cell}}</span>
      </div>
    </div>
  </div>

</div>
