<div class="game">

  <!--Start page-->
  <div *ngIf="!playing" class="start">
    <div class="row">
      <div *ngFor="let char of 'SOPADELETRAS'.split(''); let even = even" class="cell" [class.selected]="even">
        <span>
          {{char}}
        </span>
      </div>
      <button (click)="startGame()">Comenzar</button>
    </div>
  </div>

  <!--game messages-->
  <div *ngIf="(win || lost) && playing" class="message">
    <div *ngIf="win">
      <h3 class="green">¡Felicitaciones!</h3>
      <strong class="green">*Rompecabezas completado*</strong>
    </div>
    <h3 class="red" *ngIf="lost">¡Juego terminado!</h3>
    <span class="warning">¿Quieres intentarlo de nuevo?</span>
    <div>
      <button (click)="startGame()" class="fill">Si</button>
      <button (click)="cancel()" class="fill">No</button>
    </div>
  </div>

  <!--Pausado-->
  <h3 *ngIf="stop" class="warning">¡Pausado!</h3>

  <!--Soup-->
  <div *ngIf="soup && playing && !(win||lost) && !stop" class="soup" #soupContainer>
    <div class="row" *ngFor="let row of soup;let i = index">
      <div #cell draggable="true" (dragover)="drag(i,j)" (dragend)="drop()" class="cell"
        *ngFor="let cell of row;let j = index">
        <span>{{cell}}</span>
      </div>
    </div>
  </div>

  <!--guessed words list / timer-score-->
  <div *ngIf="playing" class="wordsGuessed">

    <div class="buttons">

      <mat-icon *ngIf="!stop; else playButton" (click)="pause();" data-toggle="tooltip" data-placement="left"
        title="Pausar el juego">
        pause_circle_outline
      </mat-icon>

      <app-timer *ngIf="playing" [counter]="counter" (gameOver)="gameOver()"></app-timer>
      <app-score [game]="gamename"></app-score>
      <mat-icon (click)="cancel();" data-toggle="tooltip" data-placement="left" title="Terminar el juego">cancel
      </mat-icon>
    </div>

    <h3>Encontradas:</h3>

    <ul>
      <li *ngFor="let word of guessedWords">
        {{word}}
      </li>
    </ul>
  </div>

</div>

<ng-template #playButton>
  <mat-icon (click)="pause()" aria-hidden="false" aria-label="restart_alt icon"
    data-toggle="tooltip" data-placement="left" title="Reanudar el juego">play_circle_outline</mat-icon>
</ng-template>
