<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active "> Entrá </h2>
    <h2 class="inactive underlineHover" (click)=goToSignup()> Registráte </h2>

    <div *ngIf="spinner">
      <img src="assets/spinner.svg" alt="spinner">
    </div>
    <div *ngIf="error">
      {{error}}
    </div>

    <!-- Login Form -->
    <form #logginForm="ngForm" *ngIf="!spinner" (ngSubmit)="logIn(logginForm)">

      <span *ngIf="email.errors?.required && submitted">
        Por favor, ingrese el corréo electrónico.
      </span>
      <input required name="email" [(ngModel)]="login.email" #email="ngModel" type="email" class="fadeIn first"
        placeholder="correo">

      <span *ngIf="password.errors?.required && submitted">
        Por favor, ingrese su contraseña.
      </span>
      <span *ngIf="password.errors?.minlength && submitted">
        La constraseña ingresada es muy corta.
      </span>
      <input required name="password" [(ngModel)]="pass" #password="ngModel" type="password" class="fadeIn second"
        placeholder="clave" minlength=6>

      <input type="submit" class="fadeIn third" value="Entrar">


      <!--llenar datos usuario publico-->
      <a (click)="fillForm()">Entrá como invitado</a>
    </form>

    <!-- Remind Password -->
    <div id="formFooter">
      <a class="underlineHover" (click)=goToRecovery()>¿Olvidaste la constraseña?</a>
      <!--google auth-->
      <div>
        <input type="button" value="entra con gooogle" (click)=signUpGoogle()>
      </div>
      <!--twitter auth-->
      <div>
        <input (click)="signUpWithTwitter()" type="button" value="Registrarse con Twitter">
      </div>
    </div>

  </div>
</div>
