<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active "> Entrar </h2>
    <h2 class="inactive underlineHover" (click)=goToSignup()> Registrarse </h2>
    <!-- Icon -->
    <div class="fadeIn first">
    </div>
    <!-- Login Form -->
    <form #logginForm="ngForm" (ngSubmit)="signIn(logginForm)">
      <span *ngIf="mail.errors?.required && submitted">
        Name is required.
      </span>
      <input required name="mail" [(ngModel)]="login.mail" #mail="ngModel" type="text" class="fadeIn second"
        placeholder="correo">
      <span *ngIf="pass.errors?.required && submitted">
        Name is required.
      </span>
      <input required name="pass" [(ngModel)]="login.pass" #pass="ngModel" type="text" class="fadeIn third"
        placeholder="clave">
      <input type="submit" class="fadeIn fourth" value="Entrar">
    </form>

    <!--llenar datos usuario publico-->
    <a (click)="fillForm(logginForm)">Llenar formulario</a>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">¿Olvidaste la constraseña?</a>
    </div>

    <!--google auth-->
    <div>
      <input type="button" value="entra con gooogle" (click)=signUpGoogle()>
    </div>

  </div>
</div>
