<div class="container">
  <div class="card">
    <img src="assets/fotoPropia.png" alt="foto-creador">
    <div class="row">
      <p>Nombre: </p>
      <h2>Ezequiel Omar</h2>
    </div>
    <div class="row">
      <p>Apellido: </p>
      <h2>Vazquez</h2>
    </div>
    <div class="row">
      <p>División: </p>
      <h3>4to B</h3>
    </div>
    <div class="row">
    </div>

    <div class="row">
      <p>
        Juego Propio:
      </p>
      <h4>Sopa de Letras GEEK</h4>
    </div>

    <div class="row">
      <p>
        Descripción:
      </p>
      <p>Consiste en encontrar la mayor cantidad de palabras relacionadas posibles en el tiempo dado.
        Se le asignará un puntaje acorde a la cantidad de aciertos.</p>
      <span style="font-weight:bolder"> *Tips*</span>
      <p>*Todas las palabras estarán relacionadas al mundo del software.*</p>
      <p>*Las palabras podrán estar posicionadas, vertical, horizontal, o diagonalmente.*</p>
    </div>
  </div>
</div>
