<div class="mayoromenor">

  <h2>Toque el mazo para iniciar el juego!</h2>
  <span>Error: {{error}}</span>
  <span>Score: {{points}}</span>
  <span>Prev Card: {{prevCard}}</span>
  <span>Curent Card: {{currentCard}}</span>

  <div class="card-container">
    <div class="card" (click)="initGame()" [@cardFlip]="cardState">
      <div class="face">
        <img *ngIf="!playing" src="assets/cards/back-poker-card.png" alt="poker back card">
        <img *ngIf="playing && cardState ==='default'" [src]= "cardImage" alt="poker card">
      </div>
      <div class="face front">
      </div>
    </div>

  </div>
  <div class="buttons">
    <input type="button" value="Mayor" (click)="try('mayor')">
    <input type="button" value="Menor" (click)="try('menor')">
  </div>

</div>
