:host {
  display: block;
  perspective: 600px;
}

.mayoromenor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.message{
  *{
    width: 100%;
  }
  height: 15%;
  width: 100%;
  padding: 2rem;
  justify-content: center;
  display: flex;
  font-size: large;
}

.card-container {
  .card {
    .face {
      display: block;
      position: absolute;
      width: 103%;
      height: 100%;
      border-radius: inherit;
      backface-visibility: hidden;
      display: flex;
      justify-content: center;
      > img {
        width: 100%;
        height: 102%;
        object-fit: cover;
        border-radius: inherit;
      }
      h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: xx-large;
        color: black;
      }
    }
    .front {
      transform: rotateY(180deg);
    }
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    height: 300px;
    width: 200px;
    position: relative;
    transform-style: preserve-3d;
  }
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 0 3rem;
}

.prev {
  height: 150px !important;
  width: 100px !important;
  margin: 0px 2rem 0px 0;
}

a {
  position: relative;
  width: 140px;
  height: 60px;
  margin: 3rem;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  border: 1px solid #fff;
  &:hover {
    background-color: #7a18ec;
  }
}

.buttons {
  div {
    input {
      background: none;
      color: white;
      width: auto;
      padding: 0 2rem;
    }
    app-timer {
      padding: 0 2rem;
      width: auto;
    }
    padding: 2rem 0;
    text-align: -webkit-center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  padding: 1rem 0;
}
