<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="inactive underlineHover" (click)=goToLogin()> Entrá </h2>
    <h2 class="active"> Registráte </h2>

    <div *ngIf="spinner">
      <img src="assets/spinner.svg" alt="spinner">
    </div>
    <div *ngIf="error">
      {{error}}
    </div>

    <!-- Signup Form -->
    <form #signupForm="ngForm" (ngSubmit)="signUp(signupForm)">

      <span *ngIf="email.errors?.required && submitted">
        Por favor, ingrese el Correo Electrónico.
      </span>
      <input required [(ngModel)]="signup.email" #email="ngModel" name="email" type="email" placeholder="correo"
        class="fadeIn first">

      <input [(ngModel)]="signup.username" #username="ngModel" name="username" type="text"
        placeholder="Nombre de usuario" class="fadeIn first">

      <span *ngIf="password.errors?.required && submitted">
        Por favor, ingrese una contraseña.
      </span>
      <span *ngIf="password.errors?.minlength && submitted">
        La contraseña es demasiado corta.
      </span>
      <input required [(ngModel)]="pass" #password="ngModel" required minlength="6" name="password" type="password"
        placeholder="Contraseña" class="fadeIn second">

      <span *ngIf="passCheck !== password.value && submitted || passCheck == '' && submitted">
        Las contraseñas no coinciden.
      </span>
      <input [(ngModel)]="passCheck" required name="passCheck" type="password" placeholder="Repetir Contraseña"
        class="fadeIn third">

      <input type="submit" class="fadeIn fourth" value="Registrarse">

    </form>

    <div id="formFooter">
      <!--google auth-->
      <div>
        <input (click)="signUpWithGoogle()" type="button" value="Registrarse con Google">
      </div>
      <!--twitter auth-->
      <div>
        <input (click)="signUpWithTwitter()" type="button" value="Registrarse con Twitter">
      </div>
    </div>

  </div>
</div>
