<div class="wrapper fadeInDown">
  <div id="formContent">

    <div *ngIf="spinner">
      <img src="assets/spinner.svg" alt="spinner">
    </div>

    <form *ngIf="!spinner" [formGroup]="form" (ngSubmit)="recovery()">
      <h2 class="active">Recuperá tu contraseña </h2>
      <p>Ingresá tu correo electrónico.</p>
      <div *ngIf="response">
        {{response}}
      </div>
      <!--Email-->
      <input formControlName="email" required name="email" type="email" class="fadeIn first" placeholder="correo">
      <span *ngIf="form.controls['email'].errors?.required &&( submitted ||form.controls['email'].touched)">
        Por favor, ingrese el corréo electrónico.
      </span>
      <!--send-->
      <input type="submit" class="fadeIn third" value="Entrar">
      <!--cancel-->
      <a style="width: 100%;cursor: pointer;" class="pt-1 pb-3" (click)="goToLogin()">Cancelar</a>
    </form>

  </div>
</div>
